:root{
     
    --main-color: #037c74;
    --dark-color: #014644;
    --contrast-color: #fdf0d6;
    
    --main-color1: #00CCBE;
    --dark-color1: #09A6A3;
    --contrast-color1: #FFD686;
}
.bg-color-dark{
    background-color: var(--main-color);
}
.p-bold{
    font-weight: bold;
}
.color-dark{
    color: var(--dark-color);
}